@base: 1px;

/* 颜色定义 */
@primary: #0acd79;
@dark: #666;
@light: #eee;
@deepBlue: #366092;
@rose: #5eb400;
@fall: #ff0000;
@gray: #9b9b9b;
@theme: #4a90e2;

.Font-PF (@type: Light) {
	font-family: ~'PingFangSC-@{type}', 'Microsoft YaHei', '微软雅黑', serif;
	font-weight: 100;
}

.Font-SFC (@type: Light) {
	font-family: SFNSDisplay, ~'PingFangSC-@{type}', 'Microsoft YaHei',
		'微软雅黑', serif;
	font-weight: 100;
}

.Font-DIN (@type: Regular) {
	font-family: ~'DINAlternate-@{type}', ~'DINCondensed-@{type}',
		'Microsoft YaHei', '微软雅黑';
}

//正方形 覆盖箭头
.arrow(@direction: 90px, @size: 14px, @stroke: 1px, @bgcolor: #999) {
	width: @size;
	height: @size;
	margin: @size / 2;
	transform: rotate((@direction + 45) * 1deg);

	&:after {
		content: '';
		position: absolute;
		left: @stroke;
		top: @stroke;
		width: @size;
		height: @size;
		background: @bgcolor;
	}
}

.clearfix() {
	zoom: 1;
	&:before {
		content: ' ';
		display: block;
	}
	&:after {
		content: ' ';
		display: table;
		clear: both;
	}
}

.size(@width, @height) {
	width: @width;
	height: @height;
}
