.house {
	.el-table--striped {
		.el-table__body {
			tr.el-table__row {
				.none-margin {
					margin: 0;
					padding: 0;
					.cell {
						padding: 0;
						height: 49px;
						line-height: 49px;
						margin-bottom: 1px;
						margin-right: 1px;
					}
					.negativemini {
						background: #f3efef;
					}
					.negativesmall {
						background: #f3dfdf;
					}
					.negativenormal {
						background: #f3cfcf;
					}
					.negativebig {
						background: #f3b8b8;
						color: #fff;
					}
					.negativejiant {
						background: #f3a4a4;
						color: #fff;
					}
					.positivemini {
						background: #f4faee;
					}
					.positivesmall {
						background: #e3efd7;
					}
					.positivenormal {
						background: #d1e2be;
					}
					.positivebig {
						background: #b3ce96;
						color: #fff;
					}
					.positivejiant {
						background: #a1c27d;
						color: #fff;
					}
				}
				.none-margin.echarts {
					// height: 50px;
					// margin: 5px 0;
				}
			}
		}
	}
}
