@import './less/base';
@import './less/el-table';

html,
body {
	user-select: none;
	display: flex;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica Neue, PingFang SC, Menlo, Monaco STHeiti,
		-apple-system, BlinkMacSystemFont, Helvetica, Hiragino Sans GB,
		Microsoft YaHei, '微软雅黑', Arial, sans-serif;
}

.clearfix {
	.clearfix();
}

// flex
.flex {
	display: flex;
}
.flex.aline {
	align-items: center;
}
.flex.direction {
	flex-direction: column;
}

// point
.point {
	cursor: pointer;
}

// 粗体
// .bold {
// 	font-family: 'Arial Black', Arial, sans-serif;
// }

// 着重显示
.focus {
	height: 24px;
	line-height: 24px;
	background-color: #5eb400;
	color: snow;
	border-radius: 2px;
	display: inline-block;
	padding: 0 10px;
}
